body{
  font-family: "Montserrat", sans-serif;
}


header{
    background-color: #BBBBBB;
    padding: 20px 0;
}

.caja{
    width: 940px;
    position: relative;
    margin: 0 auto;                 /*Para poder centrar todos los elementos*/
}

nav{
    position: absolute;
    top: 110px;
    right: 0px;
}

nav li{
    display: inline;
    margin: 0 0 0 15px;
}

nav a {
    text-transform: uppercase;
    color: black;
    font-weight:bold;
    font-size: 22px;
    text-decoration: none;              /*para quitar de que ya undió el link*/
}

nav a:hover{                            /*acción cuando uno acerca el mouse*/
    color: #C78C19;
    text-decoration: underline;
}

.productos{
    width: 940px;
    margin: 0 auto;
    padding: 50px;
}

.productos li{
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 2px solid #000000;
    /*
    border-color: #000000;
    border-width: 2px;
    border-style: solid;
    */
    border-radius:10px;
}

.productos li:hover{
    border-color: #C78C19;
}

.productos li:active{               /*Acción cuando uno hace clic*/
    border-color: #088C19;
}

.productos h2 {
    font-size: 30px;
    font-weight: bold;
}

.productos li:hover h2{
    font-size: 33px;
}
.producto-descripcion{
    font-size: 18px;
}

.producto-precio{
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
}

footer{
    text-align: center;
    background: url(imagenes/bg.jpg);
    padding: 40px;
}

.copyright{
    font-size: 13px;
    color:#FFFFFF;
    margin: 20px;
}

/*Estilos pagina contacto*/
.main-contacto{
    width: 940px;
    margin: 0 auto;
}

form{
    margin: 40px 0;
}

form label, form legend{
    display: block;
    font-size: 20px;
    margin: 0 0 10px;
}

.input-padron{
    display: block;
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 50%;
}

.checkbox{
    margin: 20px 0;
}

.enviar{
    width: 40%;
    padding: 15px 0;
    font-size: 18px;
    font-weight: bold;
    color:#FFFFFF;
    background: orange;
    border: none;
    border-radius: 5px;
    transition: 500ms all;
    cursor: pointer;
}

.enviar:hover{
    background: darkorange;
    transform: scale(1.2);
}

table{
    margin: 40px 40px;
}
thead{
    background: #555555;
    color: white;
    font-weight: bold;
}

td, th{
    border: 1px solid #000000;
    padding: 8px 15px;
}

/*CSS para nuestra home*/

.banner{
    width: 100%;
}

.principal{
    padding: 3em 0;
    background: #FEFEFE;
    width: 940px;
    margin: 0 auto;
}

.titulo-principal{
    text-align: center;
    font-size: 2em;
    margin: 0 0 1em;
    clear: left;
}

.principal p{
    margin: 0 0 1em;
}

.principal strong{
    font-weight: bold;
}

.principal em{
    font-style: italic;
}

.utensilios{
    width: 120px;
    float: left;
    margin: 0 20px 20px 0;
}

.mapa{
    padding: 3em 0;
    background: linear-gradient(#FEFEFE,#888888);
}

.mapa p {
    margin: 0 0 2em;
    text-align: center;
}

.mapa-contenido{
    width: 940px;
    margin: 0 auto;
}

.diferenciales{
    padding: 3em 0;
    background: #888888;
}
.contenido-diferenciales{
    width: 80%;
    margin: 40px auto;
}

.lista-diferenciales{
    width: 35%;
    display: inline-block;
    vertical-align: top;
    margin: 0 10% 0 7%;
}

.lista-diferenciales .items{
    line-height: 1.5;
}

.items:first-child{  /*El primer item que sea negrita*/
    font-weight: bold;
}

.lista-diferenciales .items::before{
    content: "\2605";
}

.imagen-diferenciales{
    width: 40%;
    transition: 350ms;
    box-shadow: 10px 10px 25px 15px #000000;
}

.imagen-diferenciales:hover{
    opacity: 0.75;
}   

.video {
    width: 560px;
    margin: 1em auto;
}

@media screen and (max-width:480px){
    h1{
        text-align: center;
    }
    nav{
        position: static;
    }
    .caja,.principal,.mapa-contenido, .contenido-diferenciales, .video{
        width: auto;
    }
}